@use './variaveis.scss' as *;

.barra{
    background-color: $cor-destaque;
    height: 50px;
    width: 100vw;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 40px;
        padding: 10px;
        color: $background;
        list-style: none;
        align-items: center;
        color: white;
    
    }
}