@use './variaveis.scss' as *;

.cabecalho{
    background-color: $cor-destaque;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .titulo{
        color: $background;
        font-size: $fonte-titulo;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 20px;
        padding: 10px;
        width: 600px;
    }
}