@use './variaveis.scss' as *;

.quadro{
    background-color: $background;
    max-width: 1660px;
    margin: 12px;
    display: flex;
    flex-direction:row;
    gap: 2rem;
    margin-top: 50px;

    .titulo{
        font-size: $fonte-subtitulo;
        color: black;
        font-weight: bold;
    }

    .atividades{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;

    }
}