$background: white;
$cor-destaque: #0056B3;
$cor-texto: black;
$cor-tarefa: #f0eded;
$fonte-titulo: 24px;
$fonte-subtitulo: 20px;
$fonte-corpo: 16px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}